.container{
    display: flex;
    font-weight: bolder;
    text-decoration: none;
    gap: 50px;
    margin-right: 5%;
}

.img {
    filter: hue-rotate(100deg);
    height: 90px;
    width: 400px;
    padding: 10px 0px 0px  0px;
    margin: 10px  0px 0px  0px;
}
.link{
    background-color: rgb(222, 183, 214);
    color: rgb(11, 6, 11);
    border-radius: 20px 15px 20px 15px;
    font-weight: bolder;
    font-size: 19px;
    cursor: pointer;
    width: 40%;
    height: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
   
.link:hover{
        background-color:rgb(202, 157, 245);
       }
    
