.container{
    position:fixed;
    top: 15%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px; 
    border-radius: 20px;
    right: 30%; 
}

.navBottom {
    display: flex;
    gap: 20px;
}

.link{
    background-color: rgb(222, 183, 214);
    color: rgb(11, 6, 11);
    border-radius: 10px 10px 10px 10px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    width: 220px;
    height: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
}
   
.link:hover{
        background-color:rgb(202, 157, 245);
       }
    
