.container{
    background-color: rgba(0, 0, 0, 0.682);
    border-radius: 30px;
    box-shadow: 13px 35px 25px -9px rgba(0,0,0,0.7);   
    font-size: 15px;
    position:fixed;
    height: 450px;
    top:200px;
    right:500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 30%;
    gap: 5%;
    width: 44%;
}

.cardImage{
  margin-left: 15px;
  border-radius: 80px;
 }
