.container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .containerInput {
    margin-left: 5%;
}

/* .Input {
  padding: 80px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-family: 'Creepster', cursive;
  font-family: 'Ysabeau Infant', sans-serif;
  color: white;
  font-weight: bolder;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

} */

  .searchButton {
    background-color: rgb(236, 236, 15);
    color: purple;
    font-family: 'Creepster', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }

  .img {
    filter: hue-rotate(100deg);
    height: 170px;
    width: 500px;
    border-radius: 50px;
    position: absolute; 
    top: -200px;
    right: 90%; 
    z-index: 2; 
    
}